body {
    font-family: "TF2";
    background-color: rgb(134, 124, 114);
}
@font-face {
    font-family: "TF2Build";
    src: url('sigma-fonts/TF2Build.ttf') format('truetype');
}
@font-face {
    font-family: "TF2";
    src: url('sigma-fonts/TF2.ttf') format('truetype');
}
@font-face {
    font-family: "TF2secondary";
    src: url('sigma-fonts/TF2secondary.ttf') format('truetype');
}
button {
    font-family:"TF2Build" ;
}
p {
    font-family: "TF2Build";
}
li {
    font-family: "TF2Build";
}
/* Artifika */
ul {
    list-style-type: none;
    list-style: none;
}
button {
    width: 250px;
    height: 40px;
    color: #2A2725;
    font-family: "TF2C Build", serif;
    font-size: 24px;
    text-decoration: none;
    border-radius: 5px;
    border: 1.5px solid transparent;
    background: linear-gradient(180deg, #E5D9C1, #B8AE92, #9C8E71) padding-box, linear-gradient(180deg, #FFFDF0, #FFF7DA 10%, #B6A279 90%, #91794C 100%) border-box;
    background-repeat: no-repeat;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

    
header img {
    border-radius: 10px;
}
button:hover {
    color: #ECE3CB;
    background: linear-gradient(180deg, #9D4F3F, #70392D, #512A20) padding-box, linear-gradient(180deg, #DA9C77, #AD5444 10%, #572D22 90%, #2C1813 100%) border-box;
}
nav {
    background-color: orange;
    width: 100%;
    height: 200px;
}
nav button{
    margin-top:70px;
    margin-left: 50px;
    width: 100px;
    height: 70px;
}
.logo {
    margin-top: 25px;
    margin-left: 25px;
    width: 150px;
    height: 150px;
}
nav ul {
    display: flex;
    justify-content: center;
}
nav {
    display: flex;
}
header {
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-size: 50px;
    color: brown;
}
h3.devise {
    font-size: 20px;
    color: brown;
}
p.introtext {
    font-size: 15px;
    color:  lightsalmon;
}
div.hero-section-play {
    width: 500px;
    height: 500px;
    background-image:url('logoorg.png');
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
div.hero-section-play button {
    margin: 0 auto;
    width: 250px;
    height: 100px;
    transition: 0.3s;
}
section.news {
  margin: 0 auto;  
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
}
section.Intro#Intro *{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    flex-direction: column;
    margin: 0 auto;
}
section.news h2 {
    font-size: 30px;
}
section.news *:hover {
    font-weight:bold;
    font-size: 30px;
    cursor: default;
    text-align: center;
}
section.news img:hover {
    width: 100px;
    height: 100px;
    cursor: default;
}
section.news {
    width: 500px;
    height: auto;
    background-color: red;
    border-radius: 10px;
    margin-top: 10px;
    color: aliceblue;
}
section.features#features *:hover {
    font-weight:bold;
    font-size: 30px;
    cursor: default;
    text-align: center;
}
section.features#features img:hover {
    width: 100px;
    height: 100px;
    cursor: default;
}
section.features#features {
    width: 500px;
    height: auto;
    background-color:burlywood;
    border-radius: 10px;
    margin-top: 10px;
    color: aliceblue;
    text-align: center;
}
div.spase-betwen {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    
}
div.spase-betwen section{
    margin: 0 auto
}
footer {
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: black;
    margin: 0 auto;
    color: azure;
    height:100px;
    margin-top: 50px;
}
footer * {
    margin-top: 10px;
}
div.Roblox_Gamepass {
    width: auto;
    min-width: 250px;
    height: auto;
    min-height: 150px;
    background-color: aliceblue;
    border-radius: 10px;
    display:flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}
div.Roblox_Gamepass img {
    margin-top: 10px;
    width: 100px;
    height: 100px;
}
div.Roblox_Gamepass button {
    width: auto;
    height: auto;
}
section.Game-Pases-Section h1{
    display: flex;
    justify-content: center;
}
section.Game-Pases-Section  {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.name2 {
    margin: 0 auto;
    display: flex;
    justify-self: center;
    flex-direction: column;
}